.toggleField {
  &>label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    width: 100%;
  }

  &__slider {
    position: relative;
    height: fit-content;
    transition: all 0.3s ease;
    background-color: var(--gray-1-cl);
    border: 2px solid var(--primary-cl);
    border-radius: calc(var(--toggle-btn-size) / 2 + 2px);
    cursor: pointer;

    .slider {
      width: var(--toggle-btn-size);
      height: fit-content;
      background-color: var(--primary-cl);
      display: flex;
      justify-content: flex-end;
      border-radius: calc(var(--toggle-btn-size) / 2);
      overflow: hidden;
      transition: 0.3s linear;

      .circle {
        width: var(--toggle-btn-size);
        border: 2px solid var(--gray-1-cl);
        height: var(--toggle-btn-size);
        background-color: var(--dark-cl);
        border-radius: 50%;
      }
    }
  }

  &>input {
    display: none;

    &:checked {
      &~label .toggleField__slider {

        .slider {
          background-color: var(--secondary-cl);
          width: 100%;
          transition: 0.3s linear;
        }

        .circle {
          background-color: var(--primary-cl);
        }
      }
    }
  }
}