.formInput {
  position: relative;

  .selectInput {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: none;
    background-color: var(--white-cl);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
    height: 0;
    transition: 0.2s ease-in-out;
    padding: 0;
    overflow: hidden;

    &.show {
      height: fit-content;
    }
    .optionList {
      padding: 10px;
    }
    .optionItem {
      display: flex;
      align-items: center;
      gap: 10px;

      label {
        height: 36px;
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 10px;
        cursor: pointer;
      }

      input {
        display: none;
      }

      &:hover {
        label {
          color: var(--white-cl);
          background-color: var(--gray-3-cl);
        }
      }

      input:checked+label {
        background-color: var(--primary-cl);
        color: var(--white-cl);
      }
    }
  }

  &.select {
    &>input {
      outline: none;
      border: 3px solid var(--primary-cl);
      height: 45px;
      transition: height .25s;
      cursor: pointer;
    }

    &>label {
      color: #B6B6B6;
      font-size: 1rem;
      margin: 0;
    }
  }
}