.avatarInput {
  .imageField {
    width: var(--avatar-image-width);
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;

    .deleteIcon {
      display: none;
    }
  }
}

.toggleField__slider {
  width: 60px;
}

.profileForm {
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0px 10px var(--box-shadow-cl);
  max-width: 100%;

  .container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;

    .avatarInput {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }

    .bioContainer {
      width: 100%;
    }

    .userInfo {
      display: flex;
      flex-flow: column;
      gap: var(--form-row-spacing);
    }

    .toggleField {
      margin-top: var(--form-row-spacing);
    }

    .highlightImages {

      .images {
        margin: 20px 0 0 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        column-gap: 10px;
        row-gap: 10px;

        .imageField {
          width: var(--highlight-image-width);
          aspect-ratio: 0.7;

          .addImageField~.deleteIcon {
            display: none;
          }
        }

        .addImageField {
          background-image: none !important;
        }
      }
    }

    .actionContainer {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-flow: row wrap-reverse;
      align-items: center;
      gap: var(--form-col-spacing);
      margin-top: calc(3 * var(--form-row-spacing));

      .btn.link {
        background-color: var(--secondary-cl);
        text-decoration: none;
      }
    }
  }
}

@media only screen and (min-width: 1025px) {
  .profileForm {
    .container {
      grid-template-columns: 1fr 1fr;
      column-gap: var(--form-col-spacing);

      .highlightImages {
        grid-area: 2/1/3/3;

        .images {
          grid-template-columns: repeat(4, 1fr);
        }
      }

      .actionContainer {
        grid-area: 3/1/4/3;
      }

      .actionContainer {
        justify-content: flex-end;
      }
    }

  }
}