header {
  position: sticky;
  left: 0;
  top: 0;
  background-color: var(--bg-cl);
  width: 100%;
  height: var(--topbar-height);
  box-shadow: 0 0 15px var(--box-shadow-cl);
  z-index: 10;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;

    a,
    img {
      width: var(--logoSize);
      height: var(--logoSize);
    }
  }
}

header .container {
  height: 100%;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav>ul {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 10px;
  list-style-type: none;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 100%;
  cursor: pointer;

  &:hover {

    img,
    .avatar {
      transform: scale(1.1);
    }
  }
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {
  header {
    position: fixed;
    height: 100vh;
    width: var(--sidebar-width);
    background-color: transparent;
    top: 0;
    left: 0;
    box-shadow: 2px 0 15px var(--box-shadow-cl);
  }

  header .container {
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0 0 0;
    gap: 40px;
  }

  .topbarElement {
    display: none;
  }

  nav>ul {
    width: 100%;
    height: fit-content;
    flex-flow: column;
    gap: 20px;
  }
}