.post {
  $post-pd: 20px;
  background-color: #fff;
  min-width: 350px;
  max-width: 550px;
  border: 2px solid #fafafa;

  &Header {
    height: 65px;
    padding: 0 $post-pd;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .userInfo {
      display: flex;
      align-items: center;
      gap: 10px;
      position: relative;
    }

    .action {
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  &Footer {
    min-height: 55px;
    padding: 0 $post-pd;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--gray-1-cl);

    form {
      width: 100%;
      display: flex;
      align-items: center;

      .textareaContainer {
        height: 40px;
        flex-grow: 1;

        .textareaField {
          text-indent: 0px;
          font-size: 1rem;
        }

        .emojiWindow {
          right: 0;
          transform: translate(0, 0);
        }
      }

      button {
        border: none;
        outline: none;
        font-weight: 600;
        color: #006eff;
        background-color: transparent;
      }
    }
  }

  &Carousel {
    width: 100%;
    gap: 10px;

    .carouselScreen {
      width: 100%;
      aspect-ratio: 1;
      position: relative;
      cursor: pointer;

      &:hover {
        opacity: 0.9;

        .carouselButtons .carouselButton {
          fill: #000;
        }
      }

      .carouselButtons {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0 $post-pd;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .carouselButton {
          width: 20px;
          height: 20px;
          fill: #949494;
          pointer-events: none;
        }
      }
    }

    .carouselIndicator {
      margin: 12px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;

      .indicator {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #949494;
        cursor: pointer;

        &.active {
          background-color: var(--pink-cl);
        }
      }
    }
  }

  &Reaction {
    padding: 0 $post-pd;

    .like {
      width: 24px;
      height: 24px;
      cursor: pointer;

      .likeIcon {
        width: 100%;
        height: 100%;
      }
    }
  }

  .modalContent {
    width: max-content;
    padding: 10px 0;
    background-color: var(--action-modal-bg);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.2);

    .modalItem {
      white-space: normal;
      padding: 5px 10px;
      color: var(--pink-cl);
      cursor: pointer;

      &:hover{
        background-color: var(--gray-1-cl);
      }
    }
  }

  .textBody {
    padding: 0 $post-pd $post-pd;

    .username {
      margin: 0 8px 0 0;
    }

    .likes {
      margin: 4px 0 8px 0;
    }

    .comments {
      &Button {
        color: #949494;
        margin: 4px 0;
        cursor: pointer;
      }

      &List {
        overflow-y: hidden;
        height: 0;

        &.show {
          height: auto;
        }
      }
    }
  }

  .username {
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
    color: #000;
  }
}