* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style-type: none;
}

:root {
  --primary-cl: #029AA8;
  --gray-1-cl: #C4C4C4;
  --gray-2-cl: #B6B6B6;
  --gray-3-cl: #959595;
  --gray-4-cl: #949494;
  --pink-cl: #ee4a57;
  --white-cl: #ffffff;
  --blue-cl: #006eff;
  --bg-cl: #ffffff;
  --box-shadow-cl: rgba(0, 0, 0, 0.1);
  --sidebar-width: 75px;
  --topbar-height: 60px;
  --disabled-btn-bg: var(--gray-3-cl);
  --disabled-btn-cl: #ffffff;
  --max-width-container: 1200px;
  --max-width-post: 550px;
  --min-width-post: 330px;
  --action-modal-bg: #ffffff;
  --action-modal-dark-bg: #404040;
  --hidden-post-bg: #737373;
  --hidden-post-text-cl: #ffffff;
  --post-border-cl: #fafafa;
  --text-danger-cl: #ee4a57;
  --signup-btn-bg: #ffffff;
  --login-btn-bg: var(--primary-cl);
  --focused-label-cl: #B6B6B6;
  --post-username-cl: #000000;
  --emoji-btn-bg: var(--primary-cl);
}

body {
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main>.container {
  min-height: calc(100vh - var(--topbar-height));
  width: 100%;
}


@media only screen and (min-width: 480px) and (max-width: 1024px) {
  main>.container {
    width: calc(100% - var(--sidebar-width));
  }
}

@media screen and (min-width: 1025px) {
  :root {
    --topbar-height: 100px
  }
}