* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --primary-cl: #029AA8;
  --gray-cl: #C4C4C4;
  --sidebar-width: 75px;
  --topbar-height: 60px;
}

body {
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main .container {
  min-height: calc(100vh - var(--topbar-height));
}


@media only screen and (min-width: 480px) and (max-width: 1024px) {
  main .container {
    width: calc(100vw - var(--sidebar-width));
  }
}

@media screen and (min-width: 481px) {
  :root {
    --topbar-height: 100px
  }
}