h2 {
  text-transform: uppercase;
  color: var(--primary-cl);
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: center;
}

.formContainer {
  width: 100%;
  border-radius: 10px;
  max-width: 500px;
  box-shadow: 0px 4px 33px rgba($color: #000000, $alpha: 0.1);
  background-color: white;
  padding: 20px;

  hr {
    width: 100%;
    height: 3px;
    background-color: var(--gray-cl);
    margin: 20px 0;
  }

  .formError {
    width: 100%;
    color: red;
    margin: 0 0 30px 0;
    padding: 0;
    text-align: left;
  }

  .formError::first-letter {
    text-transform: uppercase;
  }
}

.formContainer form {
  display: flex;
  flex-flow: column;
  align-items: center;

  .formInput {
    margin-bottom: 30px;
  }
}

.btnLogin {
  background-color: var(--primary-cl);
  color: #fff;

}

.btnSignUp {
  background-color: #fff;
  color: var(--primary-cl);   
}

@media only screen and (min-width: 481px) {
  h2 {
    font-size: 2.3rem;   
  }

  .formContainer {
    padding: 50px;   
  }
}